<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4weP-1VNZ0eUWjObQSOvQvD6fTIV-lpk</string>
	<key>GCM_SENDER_ID</key>
	<string>1018375867888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavourFiesta</string>
	<key>PROJECT_ID</key>
	<string>fiesta-5426e</string>
	<key>STORAGE_BUCKET</key>
	<string>fiesta-5426e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018375867888:ios:6cfbccbd2715b09823e135</string>
</dict>
</plist>